
<launch>
  <node name="roberto_snake_sensorv3" pkg="roberto_linesensor" type="roberto_snake_sensorv3" respawn="false" output="screen">
    <remap from="image" to="/usb_cam/image_raw"/>
    <param name="autosize" value="true" />
  </node>
  <node name="roberto_statemachine" pkg="roberto_statemachine" type="state_machine.py" output="screen"/>

</launch>